#skill {
    width: 100%;
    height: 110vh;
    background: $color2;
    padding: 1rem $p;
    overflow: hidden;

    >h1 {
        color: $color_light;
        border-bottom: 3px solid $color_light;
    }

    >section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;

        >div {
            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;

            >div {
                color: $color1;
                width: 22%;
                height: 40vh;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                background-color: $color4;
                color: $color2_2;
                transition: all 0.3s;

                >svg {
                    font-size: 7rem;
                }

                p {
                    font: 500 1.5rem $text2;
                    margin: 10px 0;
                    letter-spacing: 2px;
                }

                span {
                    font: 400 1rem $text2;
                }

                &:hover {
                    box-shadow: 0 0 5px 15px $color1;
                }
            }
        }
    }
}