$text1: "Roboto", sans-serif;
$text2: "Poppins", sans-serif;

$color1: #fef2f2;
$black: #000000;
$color2: #0a0118;
$color2_2: #1e162c;
$color_light: #bab3ff;
$color3: #fff;
$color4: #e9e6ef;
$color5: #644e8f;

$p: 11vmax;
$p_md: 6vmax;
$p_base: 4vmax;
$p_base_inverse: 14vmax 9vmax;
$p_sm: 1.7vmax;
$p_sm_inverse: 12vmax 0;
$p_zero: 0;